{% extends "layout.html" %}
{% block body %}
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>

<link href="{{ url_for('static', filename='jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" media="All">
  <style type="text/css">
    #button {
      width: 12em;
      border-right: 1px solid #222222;
      padding: 0 0 1em 0;
      margin-bottom: 1em;
      font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
      background-color: #222222;
      color: #333;
    }

    #button ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border: none;
    }
      
    #button li {
      border-bottom: 1px solid #90bade;
      margin: 0;
      list-style: none;
      list-style-image: none;
    }
      
    #button li a {
      display: block;
      padding: 5px 5px 5px 0.5em;
      border-left: 10px solid #222222;
      border-right: 10px solid #222222;
      background-color: #222222;
      color: #fff;
      text-decoration: none;
      width: 100%;
    }

    html>body #button li a {
      width: auto;
    }

    #button li a:hover {
      background-color: #2586d7;
      color: #fff;
    }

    #question-list{
      color: #FFF;
      line-height: 2em;
      padding: 0;
      margin: 0;
      overflow: scroll;
      overflow-x: hidden;
      height: 240px;
    }

    #question-list li{
      padding: 0 0 0 5px;
      color: #fff;
    }
    #question-list li:hover{
      color: #fff;
      background-color: #2586d7;
      text-decoration: underline;
    }

    .label-class{
      font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
      background-color: #222222;
      color: #FFF;
      margin: 3px 0 0 0;
    }

    .ui-button:hover{
          border-color:#157BB6;
    }
    .ui-widget-header, .ui-state-default, .ui-button{
          background:#157BB6;
          border: 1px solid #157BB6;
          color: #FFFFFF;
          font-weight: bold;
       }
  </style>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
      var dataTable = null;

      $(document).ready(function(){
        for (var i in questions){
           if ($.inArray(i, questions_with_many_answers) == -1){
            var li = "<li data-value='" + i + "'>" + getQuestionInList(i) + "</li>";
            $("#questions").append(li);
          }
        }
        
        $( "#question-list li" ).draggable({
          appendTo: "body",
          helper: "clone"
        });

        $( "#cart ol" ).droppable({
          activeClass: "ui-state-default",
          hoverClass: "ui-state-hover",
          accept: ":not(.ui-sortable-helper)",
          drop: function( event, ui ) {
            $('#cart ol').empty();
            $( this ).find( ".placeholder" ).remove();
            $( "<li class='data-values'></li>" ).text( ui.draggable.text() ).appendTo( this );
            $('.data-values').attr('data-value', ui.draggable.attr('data-value'));
          }
        });

        $(document).on('dblclick', '#questions li', function() {
          $('#cart ol').empty();
          $('#cart ol').find( ".placeholder" ).remove();
          var question_id = $(this).attr('data-value');
          var question_text = $(this).text();
          var li_rebuild = "<li data-value='"+ question_id +"'>" + question_text + "</li>";
          $("#cart ol").append(li_rebuild);
        });

        $('#btn_filter').click(function(){
            var question_value = $('#droppable-items li').attr('data-value');
            drawChart(question_value);
        })
        drawChart('municipality');
        //drawPieChart();
        
        $( "#download-excel" ).click(function(){
          var q_id = $("#droppable-items li").attr('data-value');
          var dateTime = new Date();
          var url = "{{url_for('exports.export_reports')}}"+"?questionID=" + q_id + "&questionTitle=" + getTitleOfChart(q_id);
          var downloadAttr = "Reports (As of '" + dateTime + "').xls";
          $('#download-excel').prop('href', url);
          $('#download-excel').prop('download', downloadAttr);
        });

        $( "#download-csv" ).click(function(){
          var csvContent = "data:text/csv;charset=utf-8,";
          dataTable.removeColumn(2);
          var csvContent = csvContent + google.visualization.dataTableToCsv(dataTable);
          var encodedCsvUri = encodeURI(csvContent);
          window.open(encodedCsvUri);
        });

        $('#chart-type-select').change(function(){
          var question_value = $('#droppable-items li').attr('data-value');
          if (question_value != undefined){
            drawChart(question_value);
          } else {
            drawChart('municipality');
          }
          //drawPieChart();
        });
      });

        function drawChart(question){
            var chart_type = $('#chart-type-select').val();
            url = "{{config.BASE_PATH}}/api/data/" + question;
            console.log(url);
            $.get(url, function(results){ 
              dataTable = new google.visualization.DataTable();
              dataTable.addColumn('string', 'Type', 'Type');
              dataTable.addColumn('number', 'Totali', 'Totali');
              dataTable.addColumn({type: 'number', role: 'annotation'});

              for(var idx in results){
                var type = results[idx]['type'];
                var sum = results[idx]['count'];
                type = type.toString();
                dataTable.addRow([type, sum, sum]);
              }

              var formatter = new google.visualization.NumberFormat({
                  fractionDigits: 2,
                  suffix: '%'
              });
              

              var options = {
                  title: getTitleOfChart(question),
                  displayAnnotations: true
                };

              if (chart_type == "pie"){
                var chart = new google.visualization.PieChart(document.getElementById("piechart"));
              } else if(chart_type == "column") {
                var chart = new google.visualization.ColumnChart(document.getElementById("piechart"));
              } else if(chart_type == "line") {
                var chart = new google.visualization.LineChart(document.getElementById("piechart"));
              } 

              google.visualization.events.addListener(chart, 'ready', function () {
                var imgUri = chart.getImageURI();
                $('#link1').click(function (event) {
                    $('#link1').prop('download', 'Chart.png');
                    $('#link1').prop('href', imgUri);
                    console.log(imgUri);
                });  
              });
              chart.draw(dataTable, options);
            })
        };
    </script>
<div id="index-container" style="width:1080px; margin:-20px 50px 0 -50px; padding-top:100px; height:100%">
  <div class="row col-md-13" style="border-top-left-radius: 5px;">
    <div class="col-md-3" style="background-color: #222222; height:650px">
      <div id="filter" style="height: 650px;">
        <div id="button" style="width:100%">
        <br><br>
          <ul>
          <li><a>Pyetjet</a><br></li>
            <li>
              <div id="question-list">
                <ol id="questions">
                </ol>
              </div>
              <br>
            </li>
            <li></li>
            <li>
              <div id="cart">
                <h5 class="ui-widget-header" style="color:#fff;"><a>Kutia e pyetjeve</a></h5>
                <div id="cart-box" class="ui-widget-content" style="border-radius:5px; padding:15px 10px 0 10px; height:100px; width: 100%; background-color:#fff;">
                  <ol id="droppable-items" class="list-group">
                    <li class="placeholder">Vendoseni këtu pyetjen !</li>
                  </ol>
                </div>
             </div>
              <br><br>
            </li>
            <li><button style="margin-left: 70px;" id="btn_filter" class="btn btn-primary">Filtroni</button><br></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="background-color:#FFF; height:650px">
      <div id="top-menu" class="list-inline" style="height:50px; width:832px; padding: 7px 3px 3px 3px; margin: 0 15px 0 -15px; background-color:#222222;">
        <div id="select-container">
              <form class="form-inline">
                <div class="form-group" style="margin:5px 0 0 10px; float: left;">
                    <label class="label-class">Tipi i Grafit: &nbsp</label>
                </div>
                <div class="form-group">
                  <select id="chart-type-select" class="form-control" style="width:130px;">
                      <option value="pie" selected="selected">Pie Chart</option>
                      <option value="column">Column Chart</option>
                      <option value="line">Line Chart</option>
                  </select>
                </div>
              </form>
          </div>
          <div id="select-container-export" style="margin: -34px 10px 0 0; float:right;">
              <form class="form-inline">
                <div class="form-group">
                    <label class="label-class">Exportoni në: &nbsp</label>
                </div>
                <div class="form-group">
                  <a id="download-excel" style="" class="btn btn-sm btn-success">Excel</a>
                  <a id="download-csv" style="" class="btn btn-sm btn-success">CSV</a>
                </div>
              </form>
          </div>
      </div>
      <div id="chart-container-div" style="height:100%; width:100%;">
        <div id="piechart" style="width:800px; height:550px;"></div>
        <a id="link1" href="" class="col-xs-offset-4 btn btn-primary" style="width: 145px">Shkarko grafikonin</a>
      </div>
    </div>
  </div>
  <div id="popup-confirm">
  </div>
    <hr style="width:100%; color:black;">
</div>
{% endblock %}