
<!DOCTYPE html>
<html>
<head>
<title>Vizualizimet - KCSF - Kosovar Civil Society Foundation</title>

<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="http://www.kcsfoundation.org/inc/css/style.css" type="text/css" title="standard" />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jquery-ui-1.9.2.custom.min.js"></script>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
    <div id="entirebody">     
      <div id="container"><!-- start of container -->
      <script src="{{ url_for('static', filename='utils.js') }}"></script>

<link href="{{ url_for('static', filename='jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" media="All">
  <style type="text/css">
    #button {
      width: 12em;
      border-right: 1px solid #222222;
      padding: 0 0 1em 0;
      margin-bottom: 1em;
      font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
      background-color: #222222;
      color: #333;
    }
    #button ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border: none;
    }
      
    #button li {
      border-bottom: 1px solid #90bade;
      margin: 0;
      list-style-image: none;
    }
      
    #button li a {
      display: block;
      padding: 0 5px 5px 0.5em;
      background-color: #222222;
      color: #fff;
      text-decoration: none;
      width: 100%;
    }
    html>body #button li a {
      width: auto;
    }
    #button li a:hover {
      background-color: #2586d7;
      color: #fff;
    }
    #question-list{
      color: #FFF;
      line-height: 2em;
      padding: 0;
      margin: 0;
      overflow: scroll;
      overflow-x: hidden;
      height: 270px;
    }
    #question-list li{
      padding: 0 0 0 5px;
      color: #fff;
    }
    #question-list li:hover{
      cursor: pointer;
      color: #fff;
      background-color: #2586d7;
      text-decoration: underline;
    }
    .label-class{
      font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
      background-color: #222222;
      color: #FFF;
      margin: 3px 0 0 0;
    }
    .ui-button:hover{
          border-color:#157BB6;
    }
    .ui-widget-header, .ui-state-default, .ui-button{
          background:#157BB6;
          border: 1px solid #157BB6;
          color: #FFFFFF;
          font-weight: bold;
       }
    #raporte-te-gatshme{
      color:#000;
      text-decoration: none;
    }
    #raporte-te-gatshme:hover{
      color: #157BB6;
      text-decoration: underline;
      cursor: pointer;
    }
    #popup-confirm{
      padding: 5px 0 0 10px;
    }
    #popup-confirm li{
      padding: 5px 0 0 0;
    }
    #popup-confirm li:hover{
      cursor: pointer;
      color: #157BB6;
    }
    .clear{
      color: #fff;
      font-size: 12px;
      text-decoration: none;
    }
    .clear:hover{
      text-decoration: underline;
      cursor: pointer;
      color: #157BB6;
    }
    hr.style17 { 
      border: 0; 
      height: 1px; 
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    }
  </style>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
      function drawChart(containerID, question, downloadLInk, results){
        var dataTable = new google.visualization.DataTable();
        var chart_type = $('#chart-type-select').val();
        dataTable.addColumn('string', 'Type', 'Type');
        dataTable.addColumn('number', '', '');
        dataTable.addColumn({type: 'number', role: 'annotation'});
        for(var idx in results){
          var type = results[idx]['type'];
          var sum = results[idx]['count'];
          type = type.toString();
          dataTable.addRow([type, sum, sum]);
        }
        var formatter = new google.visualization.NumberFormat({
            fractionDigits: 2,
            suffix: '%'
        });
        
        var options = {
          title: getTitleOfChart(question),
          displayAnnotations: true
        };
        if (chart_type == "pie"){
          var chart = new google.visualization.PieChart(document.getElementById(containerID));
        } else if(chart_type == "column") {
          options['legend'] = {position: 'none'};
          var chart = new google.visualization.ColumnChart(document.getElementById(containerID));
        } else if(chart_type == "line") {
          options['legend'] = {position: 'none'};
          var chart = new google.visualization.LineChart(document.getElementById(containerID));
        } 
        google.visualization.events.addListener(chart, 'ready', function () {
          var imgUri = chart.getImageURI();
          $("#" + downloadLInk).click(function (event) {
              $('#' + downloadLInk).prop('download', 'Chart.png');
              $('#' + downloadLInk).prop('href', imgUri);
          });  
        });
        chart.draw(dataTable, options);
        return dataTable;
      };

      function dataTableToCsv(dataTable){
        var csvContent = "data:text/csv;charset=utf-8,";
        dataTable.removeColumn(2);
        var csvContent = csvContent + google.visualization.dataTableToCsv(dataTable);
        var encodedCsvUri = encodeURI(csvContent);
        window.open(encodedCsvUri);
      }

      function hasDuplicates(array) {
            var valuesSoFar = {};
            for (var i = 0; i < array.length; ++i) {
                var value = array[i];
                if (Object.prototype.hasOwnProperty.call(valuesSoFar, value)) {
                    return true;
                }
                valuesSoFar[value] = true;
            }
            return false;
        }

        function postRequest(url_post, post_data, containerID, q_id, chart_downloladID, csv_download){
          $.ajax({
            type: 'POST',
            url: url_post,
            dataType: 'json',
            contentType: 'application/json',
            data: post_data
          }).done(function(data){
            var dataTable = drawChart(containerID, q_id, chart_downloladID, data);
            $('#' + csv_download).click(function(){
              dataTableToCsv(dataTable);
            });
          });
        }

      $(document).ready(function(){
        for (var i in questions){
           if ($.inArray(i, questions_with_many_answers) == -1){
            var li_answers_build = "";
            for (var j=0; j<questions[i]['answers'].length; j++){
              var li_answers = "<li id='" + i + "' class='cbp-spmenu-vertical-item-child' style='display: none; margin-left:15px;' data-value='" + questions[i]['answers'][j] + "'>" + questions[i]['answers'][j] + "</li>"
              li_answers_build = li_answers_build + li_answers
            }
            var li = "<li id='" + i + "' class='cbp-spmenu-vertical-item-parent' data-value='" + i + "'>" + getQuestionInList(i) + "" + li_answers_build + "</li>";
            $("#questions").append(li);
          }
        }
        $( ".cbp-spmenu-vertical-item-parent" ).click(function() {
          var elemId = $(this).attr('id');
          if(elemId == "dates"){
            elemId = $('.chart-type:checked').val() + "-" + elemId;
          }
          if ( $( ".cbp-spmenu-vertical-item-child#" + elemId ).is( ":hidden" ) ) {
            $( ".cbp-spmenu-vertical-item-child#" + elemId ).slideDown( "fast", function() {
              // Animation complete.
            });
            $( ".cbp-spmenu-vertical-item-parent#" + elemId ).css( "background-color", "#2586d7")
          }else{
            $( ".cbp-spmenu-vertical-item-child#" + elemId ).slideUp( "fast", function() {
                // Animation complete.
            });
            $( ".cbp-spmenu-vertical-item-parent#" + elemId ).css( "background-color", "")
          }
        });
        $( "#question-list li" ).click(function(){
          var id = $(this).attr('data-value');
          $('question-list li ul').css('display', "block");
        });
        $( "#question-list li" ).draggable({
          appendTo: "body",
          helper: "clone"
        });

        $('#droppable-items-match').droppable({
          activeClass: "ui-state-default",
          hoverClass: "ui-state-hover",
          accept: ":not(.ui-sortable-helper)",
          drop: function( event, ui ) {
            var append = "<li id='" + ui.draggable.attr('id') + "' data-value='" + ui.draggable.attr('data-value') + "' data-toggle='tooltip' data-placement='bottom' title='"+ getQuestionInList(ui.draggable.attr('id'))+"'>"+ ui.draggable.text() +"</li>";
            if (ui.draggable.attr('class') == 'cbp-spmenu-vertical-item-child ui-draggable'){
            $( this ).find( ".placeholder" ).remove();
              addToList('#droppable-items-match', append, ui.draggable.attr('id'), ui.draggable.attr('data-value'));
            }
          }
          
            //$( "<li class='data-values'></li>" ).text( ui.draggable.text() ).appendTo( this );
            //$('.data-values').attr('data-value', ui.draggable.attr('data-value'));
        });
        
        $( "#cart ol" ).droppable({
          activeClass: "ui-state-default",
          hoverClass: "ui-state-hover",
          accept: ":not(.ui-sortable-helper)",
          drop: function( event, ui ) {
            var append = "<li data-value='" + ui.draggable.attr('data-value') + "'>"+ ui.draggable.text() +"</li>";
            if (ui.draggable.attr('class') == 'cbp-spmenu-vertical-item-parent ui-draggable'){
              $( this ).find( ".placeholder" ).remove();
              addToListNoId("#cart ol", append, ui.draggable.text());
            }
            //$( "<li class='data-values'></li>" ).text( ui.draggable.text() ).appendTo( this );
            //$('.data-values').attr('data-value', ui.draggable.attr('data-value'));
          }
        });
        $(document).on('dblclick', '.cbp-spmenu-vertical-item-parent', function() {
          $('#cart ol').find( ".placeholder" ).remove();
          var question_id = $(this).attr('data-value');
          var question_text = $(this).text();
          var li_rebuild = "<li data-value='"+ question_id +"'>" + question_text + "</li>";
          addToListNoId("#cart ol", li_rebuild, question_text);
        });
        $(document).on('dblclick', '.cbp-spmenu-vertical-item-child', function() {
          $('#droppable-items-match').find( ".placeholder" ).remove();
          var id = $(this).attr('id');
          var question_id = $(this).attr('data-value');
          var question_text = $(this).text();
          var li_rebuild = "<li id='" + $(this).attr('id') + "' data-value='"+ question_id +"' data-toggle='tooltip' data-placement='bottom' title='"+ getQuestionInList(id)+"'>" + question_text + "</li>";
          addToList('#droppable-items-match', li_rebuild, id, question_id);
        });
        $('#btn_filter').click(function(){
            drawChartOnClick();
        })
        
        var url_post = "{{url_for('api.route')}}";
        var post = { "questionID": "municipality" };
        var str_post = JSON.stringify(post);
        
        postRequest(url_post, str_post, "piechart", "municipality", "link1", 'csv' );
        //drawPieChart();
        $('#btn_clear_questionbox').click(function(){
          $( "#droppable-items-match" ).empty();
          $( "#droppable-items-match" ).append('<li class="placeholder">Vendoseni këtu kriterin per filtrim !</li>');
          $('#cart ol').empty();
          $('#cart ol').append('<li class="placeholder">Vendoseni këtu pyetjen !</li>');
        });
        $('#btn_clear_match').click(function(){
          var li = '<li class="placeholder">Vendoseni këtu kriterin per filtrim !</li>';
          clearBox('droppable-items-match', li)
        })
        $('#btn_clear_group').click(function(){
          var li = '<li class="placeholder">Vendoseni këtu pyetjen !</li>';
          clearBox('droppable-items', li)
        })
        $( "#excel1" ).click(function(){
          var url_excel = "{{url_for('exports.export_reports')}}"+"?questionID=municipality&questionTitle=Qyteti";
          $('#excel1').prop('href', url_excel);
        });

        $('#chart-type-select').change(function(){
            drawChartOnClick();
        });
        $('#raporte-te-gatshme').click(function(){
          $('#raporte-te-gatshme-list').empty();
          for (var i=0; i<raporte_te_gatshme_array.length; i++){
            var raporti_gatshem = raporte_te_gatshme_array[i];
            var li = "<li data-value='" + raporti_gatshem + "'>" + getQuestionInList(raporti_gatshem) + "</li>";
            $("#raporte-te-gatshme-list").append(li);
          }
          $('#popup-confirm').dialog({
                title: "Raportet e gatshme",
                resizable: false,
                closeOnEscape: true,
                width: 300,
                height: 300,
                hide: "slide",
                show : "slide",
                draggable: false,
                position: {
                  my: "right+65",
                  at: "top+168",
                  of: $('#raporte-te-gatshme')
                }
            });

          $('#popup-confirm li').click(function(){
            $('#cart ol').empty();
            $('#cart ol').find( ".placeholder" ).remove();
            var question_id = $(this).attr('data-value');
            var question_text = $(this).text();
            var li_rebuild = "<li data-value='"+ question_id +"'>" + question_text + "</li>";
            $("#cart ol").append(li_rebuild);
            $('#popup-confirm').dialog('close');
            $('#charts').empty();
            /*
            var a = "<a id='" + download_button_array_Ids[i] + "' class='btn btn-sm btn-success' style='margin-left: 200px; width: 125px'>Shkarko grafikonin</a>";
            var download_excel = "<a id='excel"+i+"' download='Reports.xls' style='margin-left: 5px;' class='btn btn-sm btn-success'>Excel Data</a>";
            var div = "<div id='chart"+i+"'><div id='" + div_array_Ids[i] + "' style='width:800px; height:400px;''></div>"+ a + "" + download_excel +"<hr class='style17'></div>";
            $('#charts').append(div);
            */
            var download_csv = "<a id='csv_ready' style='margin-left: 5px;' class='btn btn-sm btn-success'>CSV Data</a>";
            var download_excel = "<a id='excel' download='Reports.xls' style='margin-left: 5px;' class='btn btn-sm btn-success'>Excel Data</a>";
            var a = "<a id='link1' class='btn btn-sm btn-success'  style='margin-left: 200px; width: 145px'>Shkarko grafikonin</a>"
            var div = "<div id='chart'><div id='chart_display0' style='width:800px; height:400px;''></div>"+ a + "" + download_excel + ""+ download_csv + "<br><br><br><br><br><br><br><br><br></div>";
            $('#charts').append(div);
            var url = "{{url_for('api.route')}}";
            var post = {"questionID": question_id};
            var str_post = JSON.stringify(post);
            var url_excel = "{{url_for('exports.export_reports')}}"+"?questionID="+question_id+"&questionTitle=" + getTitleOfChart(question_id);
            $('#blank_fields').css('display', 'none');
            $('#excel').prop("href", url_excel);
            postRequest(url, str_post, "chart_display0", question_id, "link1", 'csv_ready');
          });
        });
      });
      
      function clearBox(ul, li){
        $( "#" + ul ).empty();
        $( "#" + ul ).append(li);
      }
      function addToList(ul, append, id, dataValue) {
           var addit = true;
           $(ul+" li").each(function()
           {
               if(dataValue == $(this).attr("data-value") && id == $(this).attr("id"))
               { 
                  addit = false;
               }
           });
           if(addit)
               $(ul).append(append);
         }
      
      function addToListNoId(ul, append, text) {
           var addit = true;
           $(ul+" li").each(function()
           {
               if(text == $(this).text())
               { 
                  addit = false;
               }
           });
           if(addit)
               $(ul).append(append);
         }

      function drawChartOnClick(){
        var div_array_Ids = [];
        var download_button_array_Ids = [];
        var question_values_array_Ids = [];
        var id_array_Ids_match = [];
        var question_values_array_Ids_match = [];
        var match_final = {};
        $( "#droppable-items li" ).each(function( index ) {
          var vlera = $(this).attr('data-value');
          question_values_array_Ids.push(vlera);
          var containerID = "chart_display" + index;
          var downloadLink = "link" + index;
          div_array_Ids.push(containerID);
          download_button_array_Ids.push(downloadLink);
        });

        if ($('#droppable-items-match li').attr('class') == undefined){
          $( "#droppable-items-match li" ).each(function( index ) {
            var vlera_match = $(this).attr('data-value');
            var q_id_match = $(this).attr('id');
            id_array_Ids_match.push(q_id_match);
            question_values_array_Ids_match.push(vlera_match);
            json_object[q_id_match].push(vlera_match);
            //match_final[q_id_match + index] = vlera_match;
          });
          for (var i in json_object){
            if (json_object[i].length != 0){
              var uniqueValues = [];
              $.each(json_object[i], function(j, el){
                  if($.inArray(el, uniqueValues) === -1) uniqueValues.push(el);
              });
              match_final[i] = uniqueValues;
            }
          }
        }

        if ( $('#droppable-items li').length >= 1 && $('#droppable-items li').attr('class') == undefined){
          $('#charts').empty();
          $('#blank_fields').css('display', 'none');
          var dateTime = new Date();
          for (var i = 0; i < div_array_Ids.length; i++){
            var download_csv = "<a id='csv"+i+"' style='margin-left: 5px;' class='btn btn-sm btn-success'>CSV Data</a>";
            var a = "<a id='" + download_button_array_Ids[i] + "' class='btn btn-sm btn-success' style='margin-left: 200px; width: 125px'>Shkarko grafikonin</a>";
            var download_excel = "<a id='excel"+i+"' download='Reports.xls' style='margin-left: 5px;' class='btn btn-sm btn-success'>Excel Data</a>";
            var div = "<div id='chart"+i+"'><div id='" + div_array_Ids[i] + "' style='width:800px; height:400px;''></div>"+ a + "" + download_excel + "" + download_csv +"<hr class='style17'></div>";
            $('#charts').append(div);
            match_final['questionID'] = question_values_array_Ids[i]
            match_final['questionTitle'] = getTitleOfChart(question_values_array_Ids[i])
            var match_string = JSON.stringify(match_final);
            var url = "";
            var url_excel = "{{url_for('exports.export_reports')}}";
            var url_post = "{{url_for('api.route')}}";
            postRequest(url_post, match_string, div_array_Ids[i], question_values_array_Ids[i], download_button_array_Ids[i], 'csv' + i);
            if (match_string.length > 2){
              url_excel = "{{url_for('exports.export_reports')}}"+"?questionID=" + question_values_array_Ids[i] + "&questionTitle=" + getTitleOfChart(question_values_array_Ids[i])  + "&data=" + match_string;
            } else {
              url_excel = "{{url_for('exports.export_reports')}}"+"?questionID=" + question_values_array_Ids[i] + "&questionTitle=" + getTitleOfChart(question_values_array_Ids[i]);
            }
            $('#excel' + i).prop("href", url_excel);
            //url_excel = "{{url_for('exports.export_reports')}}"+"?questionID=" + question_values_array_Ids[i] + "&questionTitle=" + getTitleOfChart(question_values_array_Ids[i])  + "&data=" + match_string;
            //url = "{{url_for('api.route')}}" + "?questionID=" + question_values_array_Ids[i] + "&data=" + match_string;
            //url_excel = "{{url_for('exports.export_reports')}}"+"?questionID=" + question_values_array_Ids[i] + "&questionTitle=" + getTitleOfChart(question_values_array_Ids[i]);
            //url = "{{url_for('api.route')}}" + "?questionID=" + question_values_array_Ids[i];
            //var dataTable = drawChart(div_array_Ids[i], question_values_array_Ids[i], download_button_array_Ids[i], url);
          }
        } else {
          $('#charts').empty();
          $('#blank_fields').css('display', 'block');
        }

        for (var i in json_object){
          if (json_object[i].length != 0){
            json_object[i] = [];
          }
        }
      }
    </script>
<div id="index-container" style="width:1183px; margin:-90px 100px 0 -100px; padding-top:100px; height:100%;">
  <div style="width: 100%; border-top-left-radius: 5px; height: 720px;">
    <div id="left-menu" style="float: left; width: 303px; padding: 0 15px 15px 15px; background-color: #222222; height: 100%;">
      <div id="filter" style="height: 650px;">
        <div id="button" style="width:100%">
        <br><br>
          <ul style="margin-top: -25px;">
          <b style="color: #fff;">Pyetjet</b><br><br>
            <li style="margin-top:-5px;">
              <div id="question-list">
                <ol id="questions">
                </ol>
              </div>
              <br>
            </li>
            <li>
              <div id="match">
                 <h5 style="background-color: #222222; color:#fff;">Kutia e filtrimit</h5>
                <div id="cart-box" style="padding:15px 10px 0 10px; height:90px; width: 100%; background-color:#fff; overflow: scroll; overflow-x: hidden;">
                  <ol id="droppable-items-match">
                    <li class="placeholder">Vendoseni këtu kriterin për filtrim !</li>
                  </ol>
                </div>
                <div id="clear-match">
                    <label class="clear" style="margin-left: 85px;" id="btn_clear_match">Pastroni kutinë</label>
                  </div>
             </div>
            </li>
            <li>
              <div id="cart">
                <h5 style="background-color: #222222; color:#fff;">Kutia e grupimit</h5>
                <div id="cart-box" style="padding:15px 10px 0 10px; height:90px; width: 100%; background-color:#fff; overflow: scroll; overflow-x: hidden;">
                  <ol id="droppable-items">
                    <li class="placeholder">Vendoseni këtu pyetjen !</li>
                  </ol>
                </div>
                <div id="clear-group">
                  <label class="clear" style="margin-left: 85px;" id="btn_clear_group">Pastroni kutinë</label>
                </div>
             </div>
            </li>
            <li style="margin-top:10px; padding: 0 0 10px 0;">
              <button style="margin-left: 65px;" id="btn_filter" class="btn btn-primary">Filtroni</button>
              <button style="" id="btn_clear_questionbox" class="btn btn-primary">Fshini</button>
          </ul>
        </div>
      </div>
    </div>
    <div id="visualization-content" style="float: right; width: 880px; padding: 0 10px 10px 10px; background-color:#FFF; overflow:hidden;">
      <div id="top-menu" class="list-inline" style="height:50px; width:906px; padding: 7px 3px 3px 3px; margin: 0 15px 0 -15px; background-color:#222222;">
        <div id="select-container">
              <form class="form-inline">
                <div class="form-group" style="margin:5px 0 0 10px; float: left;">
                    <label class="label-class">Tipi i Grafit: &nbsp</label>
                </div>
                <div class="form-group">
                  <select id="chart-type-select" class="form-control" style="width:130px;">
                      <option value="pie" selected="selected">Pie Chart</option>
                      <option value="column">Column Chart</option>
                      <option value="line">Line Chart</option>
                  </select>
                </div>
              </form>
          </div>
      </div>
      <div id="chart-container-div" style="height:100%; width:100%;">
        <a id="raporte-te-gatshme" style="float:right;">Raporte të gatshme</a>
        <div id="popup-confirm">
          <ol id="raporte-te-gatshme-list">
          </ol>
        </div>
        <br>
        <h4 id="blank_fields" style="height:200px; width: 100%; margin: 200px; 550px 0 150px; color: red; display: none;">Ju lutemi plotësoni fushat për filtrim dhe grupim.</h4>
        <div id="charts">
          <div id="chart">
            <div id="piechart" style="width:800px; height:400px;"></div>
            <a id="link1" href="" class="btn btn-sm btn-success" style="margin-left: 200px; width: 145px">Shkarko grafikonin</a>
            <a id='excel1' download='Reports.xls' style='margin-left: 5px;' class='btn btn-sm btn-success'>Excel Data</a>
            <a id='csv' style='margin-left: 5px;' class='btn btn-sm btn-success'>CSV Data</a>
            <br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
    <hr style="width:100%; color:black;">
</div>
      </div><!-- end of container -->
    </div><!-- end of entirebody -->
    
</body></html>
