
<!DOCTYPE html>
<html>
<head>
<title>Ballina - KCSF - Kosovar Civil Society Foundation</title>





<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="description" content="Fondacioni Kosovar p&euml;r Shoq&euml;ri Civile - KCSF &euml;sht&euml; organizat&euml; e pavarur, jo-fitimprur&euml;se e fokusuar n&euml; p&euml;rkrahjen e iniciativave civile lokale q&euml; &ccedil;ojn&euml; n&euml; nj&euml; l&euml;vizje e fuqishme t&euml; shoq&euml;ris&euml; civile q&euml; do t&euml; promovoj&euml; nj&euml; kultur&euml; demokratike dhe p&euml;r t&#146;iu p&euml;rgjigjur nevojave socio-ekonomike t&euml; Kosov&euml;s. Perspektiva e integrimit europian t&euml; Kosov&euml;s i ka..." />
<meta name="keywords" content="Fondacioni Kosovar p&euml;r Shoq&euml;ri Civile - KCSF &euml;sht&euml; organizat&euml; e pavarur, jo-fitimprur&euml;se e fokusuar n&euml; p&euml;rkrahjen e iniciativave civile lokale q&euml; &ccedil;ojn&euml; n&euml; nj&euml; l&euml;vizje e fuqishme t&euml; shoq&euml;ris&euml; civile q&euml; do t&euml; promovoj&euml; nj&euml; kultur&euml; demokratike dhe p&euml;r t&#146;iu p&euml;rgjigjur nevojave socio-ekonomike t&euml; Kosov&euml;s. Perspektiva e integrimit europian t&euml; Kosov&euml;s i ka..." />
<meta name="author" content="" />
<meta name="contact" content="" />
<meta name="email" content="office@kcsfoundation.org" />
<meta name="copyright" content="&copy; Copyright 2014 - Kosovar Civil Society Foundation - All Rights Reserved - Supported by Royal Norwegian Embassy" />
<meta name="info" content="" />
<meta name="distribution" content="" />
<meta name="distribution" content="KCSF - Kosovar Civil Society Foundation" />
<meta property="og:title" content="Ballina - KCSF - Kosovar Civil Society Foundation"/><meta property="og:image" content="http://www.kcsfoundation.org/inc/images/logo.png"/><meta property="og:site_name" content="KCSF - Kosovar Civil Society Foundation"/><meta property="og:description" content="Fondacioni Kosovar p&euml;r Shoq&euml;ri Civile - KCSF &euml;sht&euml; organizat&euml; e pavarur, jo-fitimprur&euml;se e fokusuar n&euml; p&euml;rkrahjen e iniciativave civile lokale q&euml; &ccedil;ojn&euml; n&euml; nj&euml; l&euml;vizje e fuqishme t&euml; shoq&euml;ris&euml; civile q&euml; do t&euml; promovoj&euml; nj&euml; kultur&euml; demokratike dhe p&euml;r t&#146;iu p&euml;rgjigjur nevojave socio-ekonomike t&euml; Kosov&euml;s. Perspektiva e integrimit europian t&euml; Kosov&euml;s i ka..."/>
<meta name="robots" content="All" />
<meta http-equiv="pragma" content="cache" />
<script src="{{ url_for('static', filename='analytics-controls/analytics-controls.js') }}"></script>
<!-- Bootstrap Core CSS --><!-- jQuery -->

<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='analytics-controls/analytics-controls.css') }}" />
<link rel="stylesheet" href="http://www.kcsfoundation.org/inc/css/style.css" type="text/css" title="standard" />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jquery.cycle.all.2.74.js.php"></script>
<script type="text/javascript" src="http://www.kcsfoundation.org/inc/js/jscript.js"></script>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
  <script type="text/javascript">
  
$(window).load(function(){
$(".centerA").animate({top: "120px"},650).animate({top: "0px"},650).animate({top: "30px"},250).animate({top: "0px"},250).animate({top: "20px"},200).animate({top: "0px"},200).animate({top: "10px"},200).animate({top: "0px"},200).animate({top: "10px"},200).animate({top: "0px"},200);
$(".bgTopPurpose").animate({height: "120px"},650).animate({height: "0px"},650).animate({height: "30px"},250).animate({height: "0px"},250).animate({height: "20px"},200).animate({height: "0px"},200).animate({height: "10px"},200).animate({height: "0px"},200).animate({height: "10px"},200).animate({height: "0px"},200);
$(".bgTopPurpose span.data").animate({top: "55px"},650).animate({top: "0px"},650,function(){$(this).hide()});
$(".bgTopPurpose a.titulli").animate({top: "80px"},650).animate({top: "0px"},650,function(){$(this).hide()});

 });
  </script>
<style>#content a{color: #157BB6;}</style>    <div class="bgTopPurpose">          <div class="AACenter">
              <span class="data">22 prill 2015</span>
              <a href="{{config.WEB_PATH}}/?page=1,6,390" class="titulli">Ftes&euml; p&euml;r trajnim: Strategji komunikimi dhe marr&euml;dh&euml;nie me...</a>
                </div></div>
  

<div class="centerA"><!-- start of centerA-->
          <div id="topArtAdress"><!-- start of topArtAdress-->
          <div class="AACenter">
            <div class="tArticle">
              <span class="data">22 prill 2015</span>
              <a href="{{config.WEB_PATH}}/?page=1,6,390" class="titulli">Ftes&euml; p&euml;r trajnim: Strategji komunikimi dhe marr&euml;dh&euml;nie me mediet</a>
              <a href="{{config.WEB_PATH}}/?page=1,6,390" class="txtShort">Fondacioni Kosovar p&euml;r Shoq&euml;ri Civile (KCSF) fton t&euml; gjitha organizatat e shoq&euml;ris&euml; civile p&euml;r t&euml; aplikuar p&euml;r trajnimin dy ditor &#147;Strategji komunikimi dhe marr&euml;dh&euml;nie me mediet&#148;. Trajnimi mbahet m&euml; 22 dhe 23 prill 2015, n&euml; sall&euml;n Fondacionit Kosovar p&euml;r Shoq&euml;ri Civile (KCSF), n&euml; Prishtin&euml;.</a>
              <a href="{{config.WEB_PATH}}/?page=1,6,390" class="more">m&euml; shum&euml;</a>
            </div>
            <div class="tAddress" style="margin-left:95px;">
                            <span class="mainT">Adresa</span>
              <span class="txt"> Fazli Grajqevci 4/a, 10000, Prishtin&euml;, Kosov&euml; <br /> 
                Tel/Fax: +381 (0)38 248 643 <br />+381 (0)38 248 636<br />
                <a href="/cdn-cgi/l/email-protection#1f707979767c7a5f747c6c79706a717b7e6b76707131706d78"><span class="__cf_email__" data-cfemail="28474e4e414b4d68434b5b4e475d464c495c41474606475a4f">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></span>
              </span>
                              
            </div>
          </div>
          
          </div><!-- end of topArtAdress-->
        <div id="langSearch"><!-- start of langSearch-->
                <a href="javascript:void(0);" class="showNews tshow">
          <span class="titulli">LAJMI I FUNDIT: Ftes&euml; p&euml;r trajnim: Strategji komunikimi dhe marr&euml;dh&euml;nie me...</span>
          <span class="more">m&euml; shum&euml;</span>  
        </a>  
                  <div id="languages"><!-- start of languages-->
          <ul>
<li ><a href="{{config.WEB_PATH}}/?page=1,1" class=active>Shqip</a></li>
<li  class="last" ><a href="{{config.WEB_PATH}}/?page=2,1">English</a></li>
<li ><a href="{{config.WEB_PATH}}/?page=3,1">Srpski</a></li>
</ul>
          </div><!-- end of languages-->
                  <a href="javascript:void(0)" class="showNews1 tshow"></a>
                  </div><!-- end of langSearch-->
    </div><!-- end of centerA-->
    
<div class="whiteBG"></div>
    <div id="entirebody">
      <header>
        <a href="{{config.WEB_PATH}}/?page=1,1" class="logo"><img src="{{ url_for('static', filename='images/logo190.png') }}" width="190" height="95" /></a>
        <div class="tSocial">
          <a href="http://twitter.com/kcsfoundation" target="_blank" class="tw"></a>
          <a href="http://www.facebook.com/KCSFoundation" target="_blank" class="fb"></a>
        </div>
        <div id="topnav">
            
          <ul><li><a href="{{config.WEB_PATH}}/?page=1,2">P&euml;r ne</a></li><li><a href="{{config.WEB_PATH}}/?page=1,33">Programet</a></li><li><a href="{{config.WEB_PATH}}/?page=1,89">Bursat</a></li><li><a href="{{config.WEB_PATH}}/?page=1,9">Donator&euml;t</a></li><li><a href="{{config.WEB_PATH}}/?page=1,165">Medie</a></li></ul>        
        </div>
        
      
      </header>
          
      <div id="container"><!-- start of container -->
      {% block body %}
      {% endblock %}
      </div><!-- end of container -->
      
       
        
      <div id="design_purpose"></div>
    </div><!-- end of entirebody -->
    <footer>

<div class="alignCenter">

      <div id="footer">
        <div class="address">
          <span class="mainHeadeer"><span class="txtja">Adresa</span><a href="https://maps.google.com/maps?ie=UTF-8&q=KCSF,+Fazli+Grajqevci+maps&fb=1&hq=KCSF,+Fazli+Grajqevci+maps" target="_blank" class="icona"><img src="{{config.WEB_PATH}}/inc/images/location_icon.png" id="iconImage" /></a></span>
          
          <span class="addresText">
                Fazli Grajqevci 4/a, 10000, Prishtin&euml;, Kosov&euml; <br /> 
                Tel/Fax: +381 (0)38 248 643 <br />+381 (0)38 248 636<br />
                <a href="/cdn-cgi/l/email-protection#ff909999969c9abf949c8c99908a919b9e8b969091d1908d98"><span class="__cf_email__" data-cfemail="224d44444b414762494151444d574c4643564b4d4c0c4d5045">[email&#160;protected]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></span>
        </div>
        <div class="bottomLogos">
          <span class="mainHeadeer">An&euml;tar n&euml;:</span>
           <a href="https://www.civicus.org/"  target="_blank" class="pasos"><img src="{{config.WEB_PATH}}/inc/images/civikus_new.png" /></a>
          <a href="http://www.balkancsd.net/" target="_blank" class="pasos"><img src="{{config.WEB_PATH}}/inc/images/bscdn_new.png" /></a>
          <a href="http://www.civikos.net/" target="_blank" class="pasos"><img src="{{config.WEB_PATH}}/inc/images/civikos_new.png" /></a>
          <a href="http://www.pasos.org/" target="_blank" class="pasos"><img src="{{config.WEB_PATH}}/inc/images/pasos_new.png" /></a>
                   <a href="http://www.ecas-citizens.eu/" target="_blank" class="pasos"><img src="{{config.WEB_PATH}}/inc/images/ecas_logo.png" /></a>
          <a href="http://www.europeanmovement.eu/" target="_blank" class="pasos" style="margin-right:0;"><img src="{{config.WEB_PATH}}/inc/images/emi_logo.png" /></a>
         
        </div>
        <div id="search">
          <form method="POST" action="">
            <input type="text" placeholder="K&euml;rko" class="searchInput" name="search" value="" />
            <input type="submit" class="goInput" value="" name="go" />
          </form>
        </div>
        <div class="bNewsletter">

          <a href="http://eepurl.com/bdq7yf" target="_blank" class="mainHeader"><span class="mainTitle">Regjistrohu</span><span class="regTxt">p&euml;r informim t&euml; vazhduesh&euml;m...</span></a>
        </div>
        <span class="copyright">&copy; Copyright 2014 - Kosovar Civil Society Foundation - All Rights Reserved - Supported by Royal Norwegian Embassy</span>
      </div>

</div>
    </footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39637075-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body></html>
