/* CSS document */
* {
  font-family: 'Source Sans Pro', sans-serif,arial, sans-serif, arial, verdana;
  font-size : 13px;  
  color : #000;  
  text-align:left; 
  margin:0; 
  padding:0;
  text-decoration:none;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background:#fff url(../images/paper_fibers.png) ;
}
#designPurpose{position:relative;height:100%;}
.whiteBG{
  width: 100%;
  height: 150px;
  background-color: #fff;
  position:absolute;
  top:45px;
  left:0;
  z-index:-1;
}
.buttonBG{
  width: 100%;
  height: 50px;
  background: #cacaca; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #cacaca 0%, #cacaca 47%, #878787 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cacaca), color-stop(47%,#cacaca), color-stop(100%,#878787)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #cacaca 0%,#cacaca 47%,#878787 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #cacaca 0%,#cacaca 47%,#878787 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #cacaca 0%,#cacaca 47%,#878787 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #cacaca 0%,#cacaca 47%,#878787 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#878787',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  position:absolute;
  top:195px;
  left:0;
  z-index:-1;
}
.subBG{
  width: 100%;
  height: 35px;
  background-color: #fff;
  position:absolute;
  top:245px;
  left:0;
  z-index:-1;
}
ul li{
	list-style:none;
}
p, h1, h2, h3{
  line-height: 20px;
}
img{
  border: 0px;
}

.bgTopPurpose{
  width: 100%;
	margin-left:auto;
	margin-right:auto;
  position:absolute;
  top:0;
  background: #1A6A9D;
}
.AACenter{
  width: 980px;
	margin-left:auto;
	margin-right:auto;
}
.bgTopPurpose span.data{position:absolute;
  width: 558px;color: #fff;font-size: 15px;font-weight: 700;margin-bottom: 3px;}
.bgTopPurpose a.titulli{position:absolute;
  width: 558px;color: #fff;font-size: 20px;margin-bottom: 10px;font-weight: 700;}
.centerA{
  width: 100%;
	margin-left:auto;
	margin-right:auto;
  position:absolute;
  top:0px;
  left:0;
  z-index:100;
  background: #157BB6;
}
#topArtAdress{
  width: 100%;
  height: 322px;
	margin-left:auto;
	margin-right:auto;
  background: #1A6A9D;
  display:none;
}
#topArtAdress .AACenter{
  width: 980px;
	margin-left:auto;
	margin-right:auto;
}

#topArtAdress .tArticle{float:left;width: 558px;padding: 50px 65px 0px 30px;}
.tArticle span, .tArticle a{color: #fff;float:left;width:558px;}
.tArticle span.data{font-size: 15px;font-weight: 700;margin-bottom: 3px;}
.tArticle a.titulli{font-size: 20px;margin-bottom: 10px;font-weight: 700;}
.tArticle a.txtShort{font-size: 14px;margin-bottom: 3px;line-height: 20px;}
.tArticle a.more{font-size: 15px;line-height: 20px;font-weight: 700;}
.tArticle a:hover{text-decoration:underline;}
.tArticle a:hover.txtShort{text-decoration:none;}

.tAddress{float:left;width: 301px;height: 210px;border-left: 1px solid #3a8abd;margin-top: 30px;padding: 20px 0px 30px 25px;}
.tAddress span{float:left;width: 301px;color: #fff;}
.tAddress a.txtShort1{float:left;width: 301px;color: #fff;font-size: 14px;margin-bottom: 3px;line-height: 20px;}
.tAddress span a{color: #fff;font-size: 14px;}
.tAddress span a:hover{text-decoration:underline;}
.tAddress span.mainT{margin-top: 23px;font-size: 20px;margin-bottom: 10px;font-weight: 700;}
.tAddress span.txt{font-size: 14px;line-height: 20px;}
#langSearch{position:relative;	margin-left:auto;margin-right:auto;width: 980px;height: 45px;}
#langSearch a.showNews,#langSearch a.showNews span{float:left; color: #fff;}
#langSearch a.showNews{padding: 12px 0px 12px 0px;width:740px;}
#langSearch a.showNews span.titulli{text-transform:uppercase;font-size: 15px;font-weight:700;margin-right: 10px;}
#langSearch a.showNews span.more{font-size: 14px;line-height: 20px;}
#langSearch a.showNews1{position:absolute;right:0;width: 35px;height: 53px;background:#1A6A9D url(../images/topShigj.png) no-repeat center;}
#langSearch a.bg1{}
#langSearch a.bg2{background:#1A6A9D url(../images/topShigj1.png) no-repeat center;}
#languages{float:right;padding-right: 50px;padding-top: 12px;}
#languages ul{float:right;}
#languages ul li{float:left;}
#languages ul li a{float:left;color: #fff;font-size: 13px;padding: 0px 6px;}
#languages ul li a:hover,#languages ul li a.active{color: #EBECEC;}
#tSearch{float:right;}

#entirebody{
	width:980px;
	min-height: 100%;
	margin-left:auto;
	margin-right:auto;
}
.alignCenter{width:980px;	margin-left:auto;
	margin-right:auto;}
#content{float:left;width: 449px;padding: 0px 34px 0px 34px;}
#content ul{padding: 8px 0px 8px 10px;} 
#content ul li{
  font-size: 13px;
  line-height: 20px;
  padding-left: 15px;
font-family: verdana;
  margin-bottom: 5px;
  background: url({{config.WEB_PATH}}/images/contentLI.png) no-repeat 0px 8px;
}
#content h1,#staff-content h1{font-size: 19px;text-transform:uppercase;color: #4a4a4a;line-height:22px;margin-bottom: 20px;}
#content h3{font-size:16px;}
#content p u{text-decoration:underline;}
#content p{font-size:13px;line-height:20px;font-family:verdana;}
#content p strong,#content p em, #content p u{font-size:13px;line-height:20px;font-family:verdana;}
#content a{font-size:15px;line-height:20px;text-decoration:underline;word-wrap:break-word;}
#content a:hover{text-decoration:none;}
#content a.apliko{background:#157BB6;width:100px;height:30px;padding:10px 20px 10px 20px;color: #fff;}
header{float:left;width: 980px;padding-top: 60px;height: 135px;}
header a.logo,header a.logo img{float:left;}
header a.logo{margin-top: 10px;}
.tSocial{margin-top: 72px;float:right;background: url(../images/socialBG.png) no-repeat left; width: 52px;height: 23px;}
header a.tw,header a.fb{float:left;width:23px;height:23px;}
header a.tw{margin-right: 5px;}
#topnav{float:right;padding-top: 75px;}
#topnav ul{float:right;border-right:1px solid #C5C6C6;margin-right: 15px;}
#topnav ul li{float:left;}
#topnav ul li a{float:left;color: #2B2A29;font-size: 16px;padding: 0px 15px;}
#topnav ul li a:hover,#topnav ul li a.active{color: #1a6a9d;}
.fl{float:left;}
#container,#homeContent,#mainPrograms{float:left;width: 980px;}
#container{height:100%;}
#homeContent{position:relative;padding-bottom: 40px;}
#homeContent .mainLinks{
  width:980px;
  position:relative;
  top: 30px;
}
#homeContent a.faqs{
  position:relative;
  width: 200px;
  float:right;
  top:0;
  right:0px;
  margin-right: 10px;
}
#homeContent a.faqs span.faqBG{
  position:relative;
  display:inline-block;
  z-index:-1;
  width: 200px;
  height: 26px;
  background: rgb(97, 97, 97);
  background: rgba(97, 97, 97, 0.5);
}
#homeContent a.faqs span.faqTitle{
  float:left;
  margin-right:-200px;
  width: 200px;
 font-size: 16px; 
 padding-top: 3px;
 color: #fff;
 font-style: italic;
 text-align:center;
}

#mainPrograms{padding-top: 33px;}
#mainPrograms .boxes{float:left;width: 326px;margin-right:1px;height: 250px;position:relative;}
#mainPrograms .boxes span{color: #fff;float:left;padding: 30px 25px 20px 25px;}
#mainPrograms .boxes span.mainTitle{height: 35px;width: 276px; text-transform:uppercase;font-size:23px;font-weight:700;}
#mainPrograms .boxes span.shDescription{font-size:14px;line-height:20px;padding: 0px 25px 20px 25px;}
#mainPrograms .boxes span.moreAct{margin:0px;padding:0px;font-size: 16px;padding: 12px 0px 0px 25px;text-transform:uppercase;width: 301px;height:38px;position:absolute;bottom:0;left:0;}
#mainPrograms .boxes span.moreActBg{
  margin:0px;padding:0px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
	filter:alpha(opacity=40);
  width: 326px;height:50px;position:absolute;bottom:0;left:0;}
#mainPrograms .boxes span.displayMore{display:none;}  
#mainPrograms .boxes img{display:none;position:absolute;top:0;left:0;}
#mainPrograms .program1{
-webkit-border-radius: 5px;border-radius: 5px 0px 0px 5px;  
background: #72a23e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #72a23e 52%, #547f31 83%, #486627 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(52%,#72a23e), color-stop(83%,#547f31), color-stop(100%,#486627)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #72a23e 52%,#547f31 83%,#486627 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a23e', endColorstr='#486627',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#mainPrograms .program2{
background: #3670bc; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #3670bc 28%, #034ea2 71%, #034ea2 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,#3670bc), color-stop(71%,#034ea2), color-stop(100%,#034ea2)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3670bc', endColorstr='#034ea2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#mainPrograms .program3{
  -webkit-border-radius: 5px;border-radius: 0px 5px 5px 0px;
background: #cb1010; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #cb1010 28%, #ad1b0d 78%, #870c0a 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,#cb1010), color-stop(78%,#ad1b0d), color-stop(99%,#870c0a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb1010', endColorstr='#870c0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#mainPrograms1{float:left;width: 980px;}
#mainPrograms1 a{text-transform:uppercase;float:left;font-size:16px;font-weight:700;color: #fff;width: 305.5px;height: 20px;margin-right: 1px;text-align:left;padding: 15px 0px 15px 20px;}
#mainPrograms1 .program1{background: #72a23e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #72a23e 52%, #547f31 83%, #486627 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(52%,#72a23e), color-stop(83%,#547f31), color-stop(100%,#486627)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #72a23e 52%,#547f31 83%,#486627 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #72a23e 52%,#547f31 83%,#486627 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72a23e', endColorstr='#486627',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#mainPrograms1 .program2{background: #3670bc; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #3670bc 28%, #034ea2 71%, #034ea2 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,#3670bc), color-stop(71%,#034ea2), color-stop(100%,#034ea2)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #3670bc 28%,#034ea2 71%,#034ea2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3670bc', endColorstr='#034ea2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#mainPrograms1 .program3{
  background: #cb1010; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #cb1010 28%, #ad1b0d 78%, #870c0a 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(28%,#cb1010), color-stop(78%,#ad1b0d), color-stop(99%,#870c0a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  #cb1010 28%,#ad1b0d 78%,#870c0a 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb1010', endColorstr='#870c0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
.p0cbg{background-color: #157BB6;}
.p1cbg{background-color: #695bb7;}
.p2cbg{background-color: #034ea2;}
.p3cbg{background-color: #72A23E;}
.p0c{color: #157BB6;}
.p1c{color: #695bb7;}
.p2c{color: #034ea2;}
.p3c{color: #72A23E;}
*/

.p0cbg{background-color: #157BB6;}
.p1cbg{background-color: #72A23E;}
.p2cbg{background-color: #034ea2;}
.p3cbg{background-color: #cb1010;}
.p0c{color: #157BB6;}
.p1c{color: #547f31;}
.p2c{color: #034ea2;}
.p3c{color: #ad1b0d;}
.p0c1{color: #1690d7;}
.p1c1{color: #547f31;}
.p2c1{color: #013e83;}
.p3c1{color: #ad1b0d;}
#list_article .p0c{color: #157BB6;}
#list_article .p1c{color: #547f31;}
#list_article .p2c{color: #034ea2;}
#list_article .p3c{color: #ad1b0d;}
#list_article .p0c1{color: #1690d7;}
#list_article .p1c1{color: #547f31;}
#list_article .p2c1{color: #013e83;}
#list_article .p3c1{color: #ad1b0d;}

#homeBox2{position:relative;float:left;width: 980px;margin-top: 30px;}
#homeBox2 .box2Links,#homeBox2 .box2Links ul,#homeBox2 .box2Links ul li{float:left;width: 244px;}
#homeBox2 .box2Links a{margin-bottom: 3px;float:left;display: table-cell;vertical-align: middle;padding-left: 10px;height: 51px;width: 234px;}
#homeBox2 .box2Links a span{display: table-cell;vertical-align: middle;height: 51px;width: 160px;color: #fff;text-transform:uppercase;font-size:13px;}
#homeBox2 .box2Links a:hover{background-color:#215a87; }
#homeBox2 .box2Links a.first{	-webkit-border-radius: 0px;	border-radius: 5px 0px 0px 0px;background:#236aa2 url(../images/box2link1.png) no-repeat right;}
#homeBox2 .box2Links a.second{background:#236aa2 url(../images/box2link2.png) no-repeat right;padding: 2px 0px 2px 10px;}
#homeBox2 .box2Links a.third{background:#236aa2 url(../images/dsp_home.png) no-repeat right;-webkit-border-radius: 0px;border-radius: 0px 0px 0px 5px;padding: 2px 0px 2px 10px;}
#homeBox2 .box2Links a:hover.first{background:#215a87 url(../images/box2link1H.png) no-repeat right;}
#homeBox2 .box2Links a:hover.second{background:#215a87 url(../images/box2link2H.png) no-repeat right;padding: 2px 0px 2px 10px;}
#homeBox2 .box2Links a:hover.third{background:#215a87 url(../images/dsp_home_H.png) no-repeat right;padding: 2px 0px 2px 10px;}

#homeActivities{-webkit-border-radius: 5px;border-radius: 0px 5px 5px 0px;float:left;width: 696px;padding: 10px 20px;background-color: #fff;height: 147px;}
.activitieLinks,.activities{float:left;width: 696px;}
.activitieLinks{margin-bottom: 0px;border-bottom: 1px solid #F1F1F1;padding: 20px 0px 8px 0px;position:relative;background-color: #fff;z-index:10;}
.activitieLinks a{float:left;color: #c7c7c7;padding: 0px 10px;font-weight:bold;font-size: 15px;text-transform:uppercase;}
.activitieLinks a.all{padding-left:0px;}
.activitieLinks a.active{font-weight:700;color: #727271;}
.activitieLinks a.allActivities{font-weight:400;font-size:12px;color:#727271;padding:0px;padding-top: 3px;float:right;text-transform:uppercase;font-style:italic;}
.activities{float:left;width:696px;padding-top: 25px;position:relative;z-index:10;}
.activities .AButtons,.publications .AButtons{float:left;width: 21px;height: 50px;}
.activities a.prevActivity,.publications a.prevPublication{background: url(../images/prevA.jpg) no-repeat center left;margin-right: 20px;}
.activities a.nextActivity,.publications a.nextPublication{background: url(../images/nextA.jpg) no-repeat center right;float:right;}
.activities a:hover.prevActivity,.publications a:hover.prevPublication{background: url(../images/prevAHov.jpg) no-repeat center left;}
.activities a:hover.nextActivity,.publications a:hover.nextPublication{background: url(../images/nextAHov.jpg) no-repeat center right;}
.listActivities{float:left;width: 610px;z-index:1;overflow: hidden;position: relative;height: 80px;}
#homeActivities .visibleArticles {border: 0 none;clear: both;margin: 0;padding: 0;z-index:100;width: 20000px;position: absolute;}
.listActivities a.activityScr{float:left;width: 188px;padding-right: 15px;position:relative; }
.listActivities a span{float:left;}
.listActivities a span.data{width: 52px;border-right: 1px solid #F1F1F1;padding-right: 0px;margin-right: 10px;}
.listActivities a span.month{line-height: 18px;font-weight:700;font-size: 9px;text-transform:uppercase;text-align:center;width: 52px;}
.listActivities a span.day{line-height: 18px;margin-bottom: 5px;text-align:center;font-weight:700;width: 52px;font-size: 24px;}
.listActivities a span.titulli{width: 125px;font-size: 12px;}
.listActivities a:hover span.titulli{text-decoration:underline;}

#homePublication{float:left;width: 696px;padding: 10px 20px;background-color: #fff;height: 147px;}
#homePublication .visiblePublications{border: 0 none;clear: both;margin: 0;padding: 0;z-index:100;width: 20000em;position: absolute;}
#homePublication .pubHeader{padding: 20px 0px 8px 0px;float:left;width: 696px;border-bottom: 1px solid #F1F1F1;margin-bottom: 25px;}
#homePublication span.mainHeader{text-transform:uppercase;padding: 20px 0 8px;color: #727271;font-weight:700;font-size:15px;}
#homePublication .pubHeader a{color: #727271;font-size:12px;padding:0px;padding-top: 3px;float:right;text-transform:uppercase;}
#homePublication .pubHeader a{font-style:italic;}
.publications{float:left;width: 696px;}
.listPublications{float:left;width: 625px;z-index:1;overflow: hidden;position: relative;height: 80px;}
.listPublications a.publicationScr{float:left;width: 188px;padding-right: 15px;margin-right:18px;position:relative;border-right: 1px solid #F1F1F1; }
.listPublications a:hover.publicationScr span.titulli{text-decoration:underline;}
.listPublications a span.fotoja{float:left;width:40px; margin-right: 10px;padding-left: 5px;}
.listPublications a span.fotoja img{width: 38px;height: 60px;float:left;margin-top: 5px;-webkit-box-shadow: 0 0 3px #8d8d8d;-moz-box-shadow: 0 0 3px #8d8d8d;box-shadow: 0 0 3px #8d8d8d;}
.listPublications a span.titulli{float:left;width: 130px;font-size: 12px;}
.listPublications a span.year{float:left;width: 130px;font-size: 12px; padding-top: 2px;color: #3e3e3e;}
.homeGal{float:left;width:244px;}
.homeGal a{float:left;position:relative;width:244px;height:167px;}
.homeGal a img{float:left;position:absolute;width:244px;z-index:1;}
.homeGal a span.galTxtBg{	
position:absolute;
bottom:0;
left:0;
z-index:10;
width:244px;
height:50px;
	background: rgb(21, 123, 182);
	background: rgba(21, 123, 182, 0.9);
	filter:alpha(opacity=40);
}
.homeGal a span.galTxt{
position:absolute;
bottom:0;
left:0;
z-index:10;
width:244px;
height:40px;
color: #fff;
text-transform:uppercase;
font-size:22px;
font-weight:bold;
text-align:center;
padding: 10px 0px 0px 0px;

}
.homeGal a:hover span.galTxt{color:#e1dd6a;}
.homeGal a span.titles{float:left;position:absolute;width:230px;z-index:3;top: 15px;left: 14px;}
.homeGal a span.titulli{float:right;position:relative;color: #fff;font-style:italic;z-index:10;width:150px;padding-right:10px;font-size:16px;font-weight:700;}
.homeGal a span.viti{float:right;position:relative;color: #fff;font-style:italic;z-index:10;width:150px;padding-right:10px;font-size:16px;font-weight:700;}
.homeGal a img.imgHover{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  
}
#containerBG{float:left;width:100%;background-color: #fff;}
#programBanner1{float:left;width: 980px;margin-top: 40px;}
#programBanner{display: table-cell;width:950px;padding-left: 30px;}
#programBanner span.prgTitle{text-transform:uppercase;color: #fff;font-weight:700;font-size:20px;display: table-cell;width:980px;height:80px;vertical-align:middle;}
#contentLeftnav{float:left;background:#fff url(../images/contentLeftnavBg.jpg) repeat-y left;}
#leftnav{float:left;width: 243px;}
#leftnav ul,#leftnav ul li,#leftnav ul li a{float:left;}
#leftnav ul li{width: 243px;border-top: 1px solid #D9DADA;}
#leftnav ul li a{width: 183px;font-size: 14px;text-transform:uppercase;color: #434242;padding: 13px 40px 13px 20px;}

#leftnav ul.all li a:hover,#leftnav ul.all li a.active{background:#fff url(../images/buttall.jpg) no-repeat 212px center;}
#leftnav ul.a94 li a:hover,#leftnav ul.a94 li a.active{background:#fff url(../images/butt94.jpg) no-repeat 212px center;}
#leftnav ul.a95 li a:hover,#leftnav ul.a95 li a.active{background:#fff url(../images/butt95.jpg) no-repeat 212px center;}
#leftnav ul.a96 li a:hover,#leftnav ul.a96 li a.active{background:#fff url(../images/butt96.jpg) no-repeat 212px center;}

#leftnav ul li ul{background-color: #fff;padding-left: 15px;}
#leftnav ul li ul li{border:none;width:228px;}
#leftnav ul li ul li a{background:none;padding: 6px 20px;width: 188px;text-transform:none;}
#leftnav ul li ul li a:hover,#leftnav ul li ul li a.active{background:none;}
#leftnav ul.all li ul li a:hover,#leftnav ul.all li ul li a.active{background:none;color: #157BB6;}
#leftnav ul.a94 li ul li a:hover,#leftnav ul.a94 li ul li a.active{background:none;color: #72A23E;}
#leftnav ul.a95 li ul li a:hover,#leftnav ul.a95 li ul li a.active{background:none;color: #034EA2;}
#leftnav ul.a96 li ul li a:hover,#leftnav ul.a96 li ul li a.active{background:none;color: #CB1010;}



#rightnav{float:left;width:220px;}
#rightnav .rightBox{float:left;width:180px;margin-bottom: 20px;
padding: 10px;
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(left, #eaeaea 0%, #eaeaea 8%, #eeeeed 47%, #e9e9e8 94%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(8%,#eaeaea), color-stop(47%,#eeeeed), color-stop(94%,#e9e9e8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #eaeaea 0%,#eaeaea 8%,#eeeeed 47%,#e9e9e8 94%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #eaeaea 0%,#eaeaea 8%,#eeeeed 47%,#e9e9e8 94%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #eaeaea 0%,#eaeaea 8%,#eeeeed 47%,#e9e9e8 94%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to right, #eaeaea 0%,#eaeaea 8%,#eeeeed 47%,#e9e9e8 94%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
}
#rightnav .rightBox h2{
    float:left;
    width:180px;
    margin-bottom: 15px;
    font-size:16px;
    text-transform:uppercase;
    font-weight:400;    
}
#rightnav .rightBox h2.mainHeader{color: #424242;}
#rightnav .rightBox span.infoTxt{
  float:left;
  width:180px;
  font-size:14px;
  color: #424242;
}
#rightnav .rightBox span.infoTxt1{
  float:left;
  width:130px;
  font-size:15px;
  color: #424242;
}
#rightnav .rightBox a{
  float:left;
  width: 180px;
  font-style:italic;
  color: #424242;
  font-size:15px;
  margin-top: 10px;
  padding-top: 10px;
  background: url(../images/articleBottom.png) no-repeat top;
}
#rightnav .rightBox a span.titulli{
  float:left;
  font-style:italic;
  color: #424242;
  font-size:15px;
  padding-right:20px;
  background: url(../images/icon-arrow-right-gray.png) no-repeat right;
  
}
#rightnav .rightBox a.moreArticle{float:left;width:180px;padding-top:0;margin-top: 10px;padding-right:0px;padding-bottom: 20px;background:url(../images/articleBottom.png) no-repeat bottom;font-style:normal;}
#rightnav .rightBox a.last{background:none;}
#rightnav .rightBox span.date{float:left;height: 40px;width:40px;margin-right:10px;}
#rightnav .rightBox span.day{float:left;width:40px;font-size: 24px;font-weight:700;text-align:center;margin-bottom: 4px;line-height:18px;}
#rightnav .rightBox span.month{float:left;width:40px;font-weight:700;text-align:center;text-transform:uppercase;font-size:9px;margin-bottom: 2px;line-height:10px;}


#pathBar{float:left;width:950px;padding-left: 30px;padding-top: 20px;background-color: #fff;height: 35px;}
#pathBar a,#pathBar span{float:left;margin-right: 5px;}
#pathBar span.psplit{width:7px;height:15px;background: url(../images/psplit.jpg) no-repeat 0px 5px;}
#design_purpose{clear:both;}
footer{
float:left;
  background-color: #fff;
  width: 100%;
  height:180px;
}
#footer{
float:left;
  padding-top: 20px;
	margin-left:auto;
	margin-right:auto;
  width:980px; 
}

#footer .address{padding-left:10px;color: #727271;float:left;width: 200px;}
#footer .address span {color: #727271;float:left;width: 200px;}
 .address span a.icona{float:left;}
 .address span a.icona img{float:right;height:28px;}
#footer .address span.mainHeadeer{font-size:17px;font-weight:700;margin-bottom:5px;}
#footer .address span.txtja{padding-top: 5px;float:left;width:60px;font-size:17px;font-weight:700;margin-bottom:5px;}
#footer .address span.addresText{line-height:20px;}
#footer .address span a{color: #727271;text-decoration:underline;}
#footer .address span a:hover{text-decoration:none;}
#footer .bottomLogos span.mainHeadeer{color: #727271;float:left; width: 480px;font-size:17px;font-weight:700;margin-bottom:10px;}
#footer .bottomLogos{float:left; width: 540px;margin-left: 15px;}
#footer .bottomLogos a{height:70px;float:left;margin-right:8px;}

#search{	-webkit-border-radius: 2px;border-radius: 2px;margin-bottom:20px;float:right;width:200px;margin-right:5px;background-color:#f0efef;height:30px;}
#search form{float:left;width:200px;}
#search .searchInput{float:left;padding-right:10px;padding-left:10px;width:150px;border:none;color:#8b8b8b;height:30px;background:none;}
#search .goInput{cursor:pointer;float:left;width:30px;height:30px;background:#1A6A9D url(../images/search.png)no-repeat center;border:none;}
#footer .bNewsletter{margin-right:5px;float:right;width:200px;padding-top: 0px;}

#footer .bNewsletter a{
  float:left;
  width: 200px;
  text-align:left;
  font-size: 18px;
  color: #727271;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#footer .bNewsletter span.mainTitle{
  float:left;
  width:150px;
  font-size:18px;
  color: #fff;
  padding: 4px 0px 6px 50px;
  font-weight:700;
  text-transform:uppercase;
  background:#1A6A9D url(../images/envelope1.png) no-repeat 8px center;
}
#footer .bNewsletter span.regTxt{
   background-color: #F6F4F5;
    color: #fff;
  color: #727271;
  text-align:left;
    float: left;
    font-size: 13px;
    padding: 3px 0px;
    text-align:center;
    width: 200px;
    font-style:italic;
}  

#footer span.copyright{color: #727271;float:left;text-align:center;width: 980px;margin-top: 10px;padding-top:10px;font-size:12px;border-top: 1px solid #F1F1F1;}
#list_article{float:left;}
#list_article .articleBox{float:left;width:449px;margin-bottom: 20px;}
#list_article .articleBox a.artImg,#list_article a.artImg img{float:left;}
#list_article .articleBox a.artImg img{width: 200px;height: 120px;-webkit-box-shadow: 0 0 5px #8d8d8d;-moz-box-shadow: 0 0 5px #8d8d8d;box-shadow: 0 0 5px #8d8d8d;padding: 2px;margin-right: 20px;}
#list_article .articleBox a.artTitle{margin-bottom: 5px;float:left;width:445px;font-size:18px;font-weight:700;}
#list_article .articleBox a.artMore{font-weight:700;font-size:12px;padding-left: 5px;}
#list_article .articleBox a:hover.artMore{text-decoration:underline;}    
#list_article .articleBox span.artShort{line-height:20px;font-size:14px;}
#dateArticle .articleBox a.artTitle{float:left;width:449px;}
#dateArticle span.mainT{
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    width: 599px;
    padding-left:20px;
    font-size:17px;
    font-weight:400;
    line-height:20px;
    text-decoration:none;
}
#dateArticle a{text-decoration:none;}
#dateArticle a:hover{text-decoration:underline;}
#dateArticle span.date{    display: table-cell;
    vertical-align: middle;height: 40px;width:50px;margin-right:20px;}
#dateArticle span.day{float:left;width:50px;font-size: 24px;font-weight:700;text-align:center;margin-bottom: 4px;line-height:18px;}
#dateArticle span.month{float:left;width:50px;font-weight:700;text-align:center;text-transform:uppercase;font-size:10px;margin-bottom: 2px;line-height:10px;}
#dateArticle span.year{float:left;width:50px;font-weight:700;text-align:center;text-transform:uppercase;font-size:12px;margin-bottom: 0px;line-height:12px;}


#list_article .articleBox2{float:left;width:449px;}
#list_article .articleBox2 a.artImg{float:left;margin-bottom: 20px;}
#list_article .articleBox2 a.artImg img{width:449px;float:left;-webkit-box-shadow: 0 0 5px #8d8d8d;-moz-box-shadow: 0 0 5px #8d8d8d;box-shadow: 0 0 5px #8d8d8d;padding: 2px;}
em,strong{font-size: 15px;line-height: 20px;}    
.shareArticle{float:left;width: 449px;padding-top: 30px;margin-bottom: 20px;}
.personelBox{float:left;width:449px;}
.memberBox{float:left;width:449px;margin-bottom: 8px;padding-bottom: 8px;border-bottom: 1px solid #ecebe9;}
.memberBox span{float:left;font-size:15px;line-height:20px;}
.memberBox span.memberInfo{float:left;width: 240px;}
.memberBox span.memberName{color: #034EA2;width: 240px;text-transform:uppercase;}
.memberBox a.memberEmail{color: #034EA2;width: 240px;font-size:11px;}
.memberBox span.memberPosition{font-size:15px;width:209px;}

#pageNumbers{float:left;}
#pageNumbers .artNo{float:left;width:449px;}
#pageNumbers .artNo a{
  text-align:center;
  margin-right: 8px;
  padding: 4px 0px;
  float:left;font-size: 15px;width: 25px;
  background-color: #E0E0E0;
  background-image: linear-gradient(to bottom, #FAFAFA 0px, #DCDCDC 100%);
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  box-shadow: 0 0 1px #FFFFFF inset;
  text-shadow: 0 1px 0 #FFFFFF;
}
#pageNumbers .artNo a.active,#pageNumbers .artNo a:hover{
  background-image: linear-gradient(to bottom, #C8C8C8 0px, #E6E6E6 100%);
  border-color: #888888 #AAAAAA #CCCCCC;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF;
}
.articleSlide,.articleSlide a,#slideBox{float:left;width:449px;}
#slideBox{display:none;padding-bottom: 15px;}
#list_article .articleSlide a{font-size: 16px;margin-top: 10px;margin-bottom: 5px;padding-bottom: 5px;}
#list_article span.mainFaqHeader{margin-top: 20px; float:left;width:449px;font-size:18px; color: #666666;font-weight:700;}

#listDonors{float:left;}
#listDonors a{float:left;font-size:16px;line-height:20px;width:449px;margin-bottom: 8px;padding-bottom: 8px;border-bottom: 1px solid #ecebe9;}


#list_doc, #doc_list {
    float: left;
width:100%;
}
#doc_list a {
    float: left;
width:100%;
    border-bottom: 1px solid #c5c6c6;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#doc_list a:hover {
    border-bottom: 1px solid #157BB6;
}
#doc_list a span.d_image, #doc_list a span.d_image img {
    float: left;
    width: 25px;
}
#doc_list a span.d_image {
    margin-right: 20px;
}
#doc_list a span.d_title {
    float: left;
    font-weight: 400;
    font-size: 16px;
    padding-top: 3px;
}
#doc_list a:hover span.d_title {
    color: #0f548d;
}
#doc_content_links {
    float: left;
    padding-top: 20px;
}
#doc_content_links ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 690px;
}
#doc_content_links ul li {
    float: left;
    margin: 0;
    padding: 0;
    width: 690px;
    background: 0;
}
#doc_content_links ul li a {
    float: left;
    margin: 0;
    padding: 0;
    width: 690px;
    font-family: 'Droid Serif', serif;
    font-weight: 600;
    font-size: 15px;
}

#list_gallery {
    float: left;
    width: 449px;
}
#list_gallery a.img_group {
    float: left;
    width: 140px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 15px;
}
#list_gallery a.img_group span {
    padding: 10px;
    width: 120px;
    height: 70px;
    background-color: #e0e0e0;
    background-image: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%);
    border-color: #ccc #ccc #aaa;
    box-shadow: 0 0 1px #fff inset;
    float: left;
    text-shadow: 0 1px 0 #fff;
    color: #157BB6;
    font: 400 13px  Arial,"Times New Roman",Times,serif;
}
#list_gallery a:hover.img_group span {
    background-image: linear-gradient(to bottom, #c8c8c8 0, #e6e6e6 100%);
    border-color: #888 #aaa #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #fff;
    text-decoration: none;
}
#list_gallery a.img_group img {
    float: left;
    width: 140px;
    height: 100px;
}
#searchBox{ border-bottom: 1px solid #D9DADA;float: left;margin-bottom: 20px;padding-bottom: 19px;width: 449px;}
#searchBox a.title{float: left;font-size: 18px;font-weight: 700;margin-bottom: 5px;width: 449px;}
#searchBox span.txtShort{float:left;width:449px;}

#searchBox a.title mark {
font-size: 18px;font-weight: 700;
}
#publications{float:left;}
#publications a,#publications a span,#publications a span img{float:left;width: 135px;}
#publications a{margin-right: 15px;height: 310px;}
#publications a span img{margin-bottom: 10px;float:left;width: 135px;
-webkit-box-shadow: 5px 5px 5px #8d8d8d;-moz-box-shadow: 5px 5px 5px #8d8d8d;box-shadow: 5px 5px 5px #8d8d8d;

}
#docYearsPub{float:left;width:449px;margin-bottom: 20px;}
#publications a span.d_title{font-size:15px;color: #157BB6;}
#publications a:hover span.d_title{text-decoration:underline;}
#docYearsPub ul{margin:0px;padding:0px;float:left;}
#docYearsPub ul li{margin:0px;padding:0px;background:none;margin-right: 10px;padding-right:10px;float:left;border-right: 1px solid #157BB6;}
#docYearsPub ul li.last{border:none;}
#docYearsPub ul li a{text-decoration:none;line-height:15px;float:left;}
#docYearsPub ul li a:hover,#docYearsPub ul li a.active,#docYearsPub ul li.first a.active{text-decoration:underline;}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{border:0;outline:0;vertical-align:top;margin:0;padding:0;}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.fancybox-opened{z-index:8030;}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5);}.fancybox-outer,.fancybox-inner{position:relative;}.fancybox-inner{overflow:hidden;}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;white-space:nowrap;margin:0;padding:15px;}.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%;}.fancybox-image{max-width:100%;max-height:100%;}#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(../images/fancybox/fancybox_sprite.png);}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060;}#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox/fancybox_loading.gif) center center no-repeat;}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(../images/fancybox/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}.fancybox-prev{left:0;}.fancybox-next{right:0;}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}.fancybox-prev span{left:10px;background-position:0 -36px;}.fancybox-next span{right:10px;background-position:0 -72px;}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important;}.fancybox-lock{overflow:hidden!important;width:auto;}.fancybox-lock body{overflow:hidden!important;}.fancybox-lock-test{overflow-y:hidden!important;}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../images/fancybox/fancybox_overlay.png);}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;position:relative;text-shadow:none;z-index:8050;}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;background:rgba(255,255,255,0.9);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;color:#656666;font-weight:700;line-height:24px;white-space:nowrap;padding:2px 20px;}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}.fancybox-title-inside-wrap{padding-top:10px;}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;background:rgba(0,0,0,.8);padding:10px;}.fancybox-nav:hover span,.fancybox-opened .fancybox-title{visibility:visible;}@media only screen and -webkit-min-device-pixel-ratio15,only screen and min--moz-device-pixel-ratio15,only screen and min-device-pixel-ratio15{#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(../images/fancybox/fancybox_sprite@2x.png);background-size:44px 152px;}#fancybox-loading div{background-image:url(../images/fancybox/fancybox_loading@2x.gif);background-size:24px 24px;}}

#subSections{float:left;width: 980px;height: 35px;}
#subSections ul,#subSections ul li,#subSections ul li a{float:left;}
#subSections ul li{border-right: 1px solid #dedede;line-height: 16px;margin-top: 9px;}
#subSections ul li a{line-height: 16px;padding: 0px 9px 0px 9px;color: #434242;font-size: 14px;}
#subSections ul li.last{border:none;}
#subSections ul li.last a{padding-right:0px;}
#subSections ul li.prg1 a:hover,#subSections ul li.prg1 a.active{color: #72A23E;}
#subSections ul li.prg2 a:hover,#subSections ul li.prg2 a.active{color: #034EA2;}
#subSections ul li.prg3 a:hover,#subSections ul li.prg3 a.active{color: #CB1010;}

#articleYears{float:right;width:439px;padding:4px 0px 4px 10px;margin-bottom: 20px;}
#articleYears a{float:right; margin-right:10px;font-size:18px;border-right:1px solid #ccc;padding-right:10px;}
#articleYears a.active{font-weight:700;}


.box2linkDescription{display:none;background-color:#fff;position:absolute;top:10px;z-index:20;left:244px;width:716px;height:147px;}
.box2linkDescription img{float:left;width:185px;height:130px;margin-left:15px;margin-right:15px;-webkit-box-shadow: 0 0 5px #8d8d8d;-moz-box-shadow: 0 0 5px #8d8d8d;box-shadow: 0 0 5px #8d8d8d;}
.box2linkDescription span{float:left;padding-left:0px;font-size:15px;line-height:22px;}
.box2linkDescription span.title{width:716px;font-size:17px;color:#157BB6;padding-bottom: 5px;}
.box2linkDescription span.description{float:left;width:716px;font-size:14px;}

#list_article .importantBox a.artTitle{ width:220px;}


#staff-content{float:left;width:669px;padding-left:34px;}
#staff-box{float:left;width:669px;}
.staff-info{float:left;width:334px;}
.info-box-bg{float:left;width:157px;height:167px;padding:0px 5px;position:relative;}
.info-box{float:left;width:157px;position:absolute;bottom:10px;}
.info-box img{margin-bottom:10px;}
.info-box span{color:#fff;float:left;width:157px;}
.info-box span.name{font-size:16px;text-transform:uppercase;margin-bottom:5px;}
.info-box span.position{font-size:11px;}
.info-box span.email{font-size:10px;}